@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roseford;
  src: url("/fonts/roseford.woff2");
}

@font-face {
  font-family: Freudian;
  src: url("/fonts/freudian.woff2");
}

@font-face {
  font-family: Eczar;
  src: url("/fonts/eczar-regular.woff2");
}

@layer base {
  :root {
    --model-color: #7ecf86;
  }

  body {
    @apply bg-[#1D1D1D] text-primary overflow-y-scroll overflow-x-clip;
  }
}

.translate-anim {
  animation: translateAnim 4s ease-in-out infinite;
}

.rotate-anim {
  animation: rotateAnim 15s linear infinite;
}

@keyframes translateAnim {
  0% {
    translate: 0% 0%;
  }
  20% {
    translate: 500% 0%;
  }
  100% {
    translate: 500% 0%;
  }
}

@keyframes rotateAnim {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}
